/* Brands section */
.brands__header {
    background: url('../assets/img/brands-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 25px;
}

.brands__header-Container {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    padding: 66px 0;
    border: 2px solid var(--clr-white);
}

.brands__header-Wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.brands__grid {
    display:flex;
    flex-flow: column;
    
}

.brands__row {
    width: 100%;
    border-bottom: 1px solid var(--clr-border);
}

.brands__row-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.brands__dummy-row {
    height: 60px;
    transition: height 250ms ease-in;
}

.brands__dummy-row:last-child {
    border-bottom: none;
}

.brands__dummy-row .brands__item {
    height: 60px;
}

.brands__item {
    flex: 1;
    min-width: 146px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__item:not(:last-child) {
    border-right: 1px solid var(--clr-border);
}

.brands__item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.3;
}

/* Brands media queries */
@media (max-width: 1024px) {
    .brands__row-container {
        flex-wrap: wrap;
    }
    .brands__item {
        min-width: 33.33%;
        border-bottom: 1px solid var(--clr-border);
    }

    .brands__row:nth-child(4),
    .brands__row:nth-child(5) {
        display: none;
    }
    

    .brands__row:not(:first-child) {
        border-bottom: none;
    }

    .brands__dummy-row .brands__item {
        border-bottom: none;
    }

    .brands__dummy-row .brands__item:nth-child(4),
    .brands__dummy-row .brands__item:nth-child(5),
    .brands__dummy-row .brands__item:nth-child(6),
    .brands__dummy-row .brands__item:nth-child(7) {
        display: none;
    }

    .brands__item:last-child {
        display: none;
    }
}

@media (max-width: 480px) {
    .brands__dummy-row {
        height: 30px;
    }

    .brands__dummy-row .brands__item{
        height: 30px;
    }
}