/* Footer section */
.footer {
    background: var(--clr-menu);
    padding: 87px 0 30px 0;
}

.footer__container {
    max-width: 1250px;
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer__text {
    max-width: 178px;
    text-align: center;
}

.footer__copy {
    margin-top: 50px;
    text-align: center;
}