/* Kv section */
.kv {
    background: url('../assets/img/kv-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.kv__wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 173px 5px 240px 5px;
}

.kv__headings {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.kv__heading {
    margin: 5px 0 30px 0;
}

.kv__scroll {
    position: absolute;
    bottom: 40px;
    transform: rotate(90deg);
    font-size: 1.875rem;
    user-select: none;
    overflow: hidden;
}

.kv__arrows {
    animation: kvscroll 2s infinite;
}

@keyframes kvscroll {
    0% {
        transform: translateX(-20px);
    }
    
    100% {
        transform: translateX(30px);
    }
}

