/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

/* Variables */
:root {
    --clr-primary: #fff;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-orange: #F34739;
    --clr-gray: #4A4A4A;
    --clr-blue-light: #009989;
    --clr-blue-dark: #152B3C;
    --clr-border-light: #F9FDFC;
    --clr-border-dark: #00000B;
}