/* Portfolio section */
.portfolio__header {
    background: url('../assets/img/portfolio-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 25px;
}

.portfolio__header-Container {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    padding: 66px 0;
    border: 2px solid var(--clr-white);
}

.portfolio__header-Wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
}

.portfolio__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    transition: filter 250ms ease-in;
}

.portfolio__item:hover {
    filter: grayscale(0);
}
.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__overlay {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(255,255,255,0.5);
    color: var(--clr-black);
    opacity: 0;
    width: 100%;
    padding: 5px;
    transition: opacity 250ms ease-in;
}

.portfolio__overlay img {
    width: 50px;
    height: auto;
}

/* Portfolio media queries */
@media (max-width: 768px) {
    .portfolio__grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
